@font-face {
  font-family: Avenir;
  src: url('../assets/fonts/avenir-lt-std-95-black.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('../assets/fonts/avenir-lt-std-55-roman.otf');
  font-weight: normal;
  font-style: normal;
}
